extends layout

block content
  .main.container

  body
    form(action='/registerAction', style='border:1px solid #ccc')
      .container
        h1 Registered!
        p Your drone has been registered!
        hr
        .clearfix
          a(href='../') Go Back